html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}

.all {
  display: flex;
  border-left: 1px solid #000;
  border-left: 1px solid #000;
}

img {
width: 100%;
}

div {
  padding: 1.5rem;
}

.one {
  background-color: #eee;
}

.two {
  background-color: #ccc;
}

.three {
  background-color: #e2e2e2;
}

.four {
  background-color: #999;
}

a {
  background-color:#333;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  padding: .5rem;
}
